<!DOCTYPE html>

<html>

	<head>
		<title>Pinterest Clone</title>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">


		<script
		 src="https://code.jquery.com/jquery-3.1.1.min.js"
		 integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		 crossorigin="anonymous">
	 	</script>
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

	</head>


	<body>
    <% if (locals.signedInUser) { %>
      <div class="signedInUser hidden"><%= JSON.stringify(locals.signedInUser) %></div>

    <%} %>
    <div class="user hidden"><%= JSON.stringify(locals.user) %></div>
    <div class="userImages hidden"><%= JSON.stringify(locals.images) %></div>


		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					 <span class="sr-only">Toggle navigation</span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
				 </button>
				 <div class="navbar-brand">Memeterest</div>
					 <img alt="brand" class="brand-img"src="../public/img/brand-img.png"></img>
				 </div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a class="menu" href="/myimages">My Images</a></li>
						<li><a class="menu" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Other</a></li>
					</ul>

					<form class="navbar-form navbar-left">
					  <div class="form-group">
					    <input type="text" name="url" class="form-control" placeholder="Image url"></input>
							<input type="text" name="description" class="form-control" placeholder="Description"></input>

					  </div>
				  	<button type="submit add-image" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a class="menu" href="/profile">Profile</a></li>
						<% if (locals.user) { %>
							<li><a class="menu" href="/logout">Logout</a></li>

						<% } else { %>

							<li><a class="menu" href="/login">Login</a></li>


						<% } %>
					</ul>
					<% if (locals.user) { %>
						<p class="navbar-text navbar-right">Signed in as <span id="display-name"></span> </p>
					<% } %>

				</div>
			</div>
		</nav>


		<div class="grid images"></div>

    <script type="text/javascript" src="../controllers/userImageController.client.js"></script>




	</body>

</html>
